h2 Коровки которые у нас уже есть:
ul
    for cow in cows
        li
            a(href='/cow/#{cow.id}') #{cow.name}

h2 Можешь добавить свою:
form(method='post', action='/cows', enctype="multipart/form-data")
    p
        label(for='name') Имя коровки:
        input(
            id='name'
            name='name'
            type='text'
            placeholder=''
        )
    p
        label(for='id') IDшник коровки:
        input(
            id='id'
            name='id'
            type='text'
            placeholder=''
        )
    input(
        type='submit'
        value='Добавить новую'
    )

