h2 Коровки которые у нас уже есть:
ul
    for cow in cows
        li
            a(href='/cow/#{cow.id}') #{cow.name}

h2 Можешь добавить свою:
form(method='get', action='/cows')
    p
        label(for='name') Имя коровки:
        input(
            id='name'
            type='text'
            placeholder=''
        )
    p
        label(for='id') IDшник коровки:
        input(
            id='id'
            type='text'
            placeholder=''
        )
    input(
        type='submit'
        name='button'
        value='Добавить новую'
    )

